@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2df39e;
}
.wrapper{
    width: 370px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    user-select:none; 
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .seanfhocal-area{
    display: flex;
    justify-content: center;
}
.seanfhocal-area .seanfhocal{
    font-size: 22px;
    text-align: center;
    word-break: keep-all;
} 
.seanfhocal-area i{
    font-size: 15px;
}
.seanfhocal-area i:first-child{
    margin: 3px 10px 0 0;
}
.seanfhocal-area i:last-child{
    margin: 0 0 3px 10px;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 10px;
    height: 47px;
    width: 47px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}
.features ul li:hover{
    height: 49px;
    width: 49px;
}
